@import "../../index.scss";

// ********************
// CONTAINER FOR VERTICAL ALIGNMENT
// ALSO FOR MOBILE VIEW
// ********************

#twentyFiveClock-container {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	@include for-tablet-portrait-up {
		background-color: transparent;
		width: calc(600px);
	}
}

// ********************
// APP CONTAINER
// ********************

#twentyFiveClock {
	height: 100%;
	background-color: rgba(13, 0, 255, 0.194);
	display: grid;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	@include for-tablet-portrait-up {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: auto 0;
		height: auto;
		background-color: transparent;
	}
}

// ********************
// APP LABEL ON THE RIGHT SIDE
// AND ALARM SOUND MENU BENEATH IT
// (ALSO HOLDS QUIT BUTTON)
// ********************

#clock-label-menu {
	position: relative;
	order: 3;
	height: 150px;

	@include for-tablet-portrait-up {
		order: initial;
		height: 100%;
		grid-column: 3;
		grid-row: span 2;
	}

	& #twentyFiveClock-label {
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);

		font-weight: 900;
		background-color: white;
		text-align: right;
		width: 100%;
		height: 100%;

		& h1 {
			font-size: 3rem;
			line-height: 2.5rem;
		}

		& p {
			font-size: 1rem;
			color: rgba(0, 0, 0, 0.395);
		}
	}

	// ********************
	// devices that support hover and
	// those that do not
	// ********************

	@media (hover: hover) {
		.clock-menu-disclaimer-hover {
			display: block;
		}
		.clock-menu-disclaimer-nohover {
			display: none;
		}
	}
	@media (hover: none) {
		.clock-menu-disclaimer-hover {
			display: none;
		}
		.clock-menu-disclaimer-nohover {
			display: block;
		}
	}

	& #alarm-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		align-content: space-between;
		height: 100%;
		width: 100%;

		& > * {
			font-size: 1.5rem;
			padding: 0;
			background-color: white;
		}

		& > .alarm-menu-item {
			color: black;
			margin-right: 0.5rem;
			user-select: none;
			@media (hover: hover) {
				&:hover {
					background-color: black;
					color: white;
				}
			}
			@media (hover: none) {
				&:active {
					background-color: black;
					color: white;
				}
			}
		}

		& > .alarm-menu-item-active {
			color: blue;
			text-decoration: underline;
			@media (hover: hover) {
				&:hover {
					background-color: blue;
				}
			}
		}

		#twentyFiveClock-close-btn {
			border: none;
			background-color: red;
			font-weight: 900;
			font-size: 2rem;
			@media (hover: hover) {
				&:hover {
					color: white;
				}
			}
			&:active {
				color: red;
				background-color: white;
			}
		}
	}
}

// ********************
// CLASS THAT RULES *MOST* OF THE APP BUTTONS
// ********************

.clock-btn {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	line-height: 2rem;
	user-select: none;
	text-transform: uppercase;
	background-color: white;

	@media (hover: hover) {
		&:hover {
			background-color: blue;
			color: white;
		}
		&:active {
			color: blue;
			background-color: white;
		}
	}

	@media (hover: none) {
		&:active {
			color: white;
			background-color: blue;
		}
	}
}

// ********************
// HOLDS START/STOP, RESET, TIMER DISPLAY
// ********************

#timer {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	min-height: fit-content;

	@include for-tablet-portrait-up {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	& #timer-toprow {
		grid-column: span 2;

		& > #timer-label,
		#time-left {
			color: blue;
			background-color: white;
			text-transform: capitalize;
			font-weight: 900;
			font-size: 5.5rem;
			line-height: 5.5rem;
			@include for-tablet-portrait-up {
				font-size: 3rem;
				line-height: 3rem;
			}
		}

		@include for-tablet-portrait-up {
			& br {
				display: none;
			}
		}
	}

	& #timer-bottomrow {
		grid-column: span 2;
		display: flex;
		// justify-content: right;
	}

	& .timer-btn {
		font-weight: 900;
		width: min-content;

		@include for-tablet-portrait-up {
			width: max-content;
		}

		&#start_stop {
			font-size: 3rem;
			line-height: 3rem;
			background-color: blue;
			color: white;

			@media (hover: hover) {
				&:hover {
					background-color: white;
					color: blue;
				}
				&:active {
					background-color: white;
					color: red;
				}
			}

			@media (hover: none) {
				&:active {
					background-color: white;
					color: red;
				}
			}
		}

		&#reset {
			@include for-tablet-portrait-up {
				margin-left: auto;
			}

			background-color: rgba(255, 179, 179, 0.808);
			@media (hover: hover) {
				&:hover {
					background-color: red;
					color: black;
				}
				&:active {
					background-color: white;
					color: red;
				}
			}

			@media (hover: none) {
				&:active {
					background-color: red;
					color: white;
				}
			}
		}
	}
}

// ********************
// HOLDS CONTROLS FOR BREAK AND SESSION LENGTH
// ********************

#interval-control {
	grid-column: span 2;
	display: flex;

	& .clock-control {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		@include for-tablet-portrait-up {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	& .clock-control-label {
		grid-column: span 2;
		@include for-tablet-portrait-up {
			grid-column: auto;
			grid-row: span 2;
		}

		& span {
			font-size: 2rem;
			line-height: 2rem;
			background-color: white;
		}

		& .clock-numbers {
			font-size: 3rem;
			line-height: 3rem;

			@include for-tablet-portrait-up {
				font-size: 2rem;
				line-height: 2rem;
			}

			font-weight: 900;
			color: blue;
		}
	}

	& .clock-btn {
		width: 100%;
		height: 3rem;
		font-size: 3rem;
		@include for-tablet-portrait-up {
			width: 2rem;
			height: 2rem;
			font-size: 2rem;
		}
	}
}

// ********************
// RULES DIALOGUE WINDOW THAT SHOWS WHEN TIMER/BREAK ENDS
// ********************

#clock-dialog {
	min-width: 100vw;
	min-height: 100vh;
	background-color: transparent;
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 1;

	> #clock-dialog-content {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: aliceblue;
		font-size: 2.5rem;
		padding: 2.5rem;
		text-align: center;
		width: max-content;
	}

	#clock-dialog-emoji {
		font-family: "NotoEmoji";
	}
}
