@import "../../index.scss";

#twentyFiveClock-container {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	@include for-tablet-portrait-up {
		width: 600px;
	}
}

#twentyFiveClock {
	margin: auto 0;

	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	font-size: 2rem;
	@include for-tablet-portrait-up {
		height: fit-content;
	}
}

#twentyFiveClock-label {
	text-align: center;
	font-size: 7rem;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.295);
	color: rgb(0, 0, 0);
}

.clock-control {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: rgba(255, 255, 255, 0.791);
	position: relative;

	&:is(.clock-btn) {
		background-color: transparent;
	}
}

.clock-control-label {
	grid-column: span 3;
}
.clock-btn {
	background-color: transparent;
	border: none;
	font-size: 2rem;

	&:hover {
		background-color: rgba(0, 0, 255, 0.433);
	}
	&:active {
		transform: translate(1px, 1px);
	}
}
.clock-numbers {
	overflow: hidden;
	font-size: 4rem;
}
#timer {
	grid-column: span 1;
}
#timer-label {
	text-transform: capitalize;
}

#clock-dialog {
	min-width: 100vw;
	min-height: 100vh;
	background-color: transparent;
	backdrop-filter: blur(10px);
	position: absolute;
	z-index: 1;

	> #clock-dialog-content {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		background-color: aliceblue;
		font-size: 2rem;
		padding: 2rem;
		text-align: center;
		width: max-content;
	}

	#clock-dialog-emoji {
		font-family: "NotoEmoji";
	}
}
