@import "../../index.scss";

.ChatApp {
	height: 100%;
	display: flex;
	color: rgba(189, 189, 192, 1);
	min-width: 100vw;
	// background-color: aliceblue;

	#chat-exit-btn {
		position: absolute;
		background-color: white;
		color: blue;
		right: 0;
		font-size: 2rem;
	}

	.Sidebar {
		width: 80px;
		height: 100%;
		overflow: scroll;
		background-color: rgba(2, 0, 49, 0.9);
		height: 100%;
		border-right: 1px solid rgb(189, 189, 192);
		border-right: 1px solid red;
		transition: width 0.3s;

		@include for-tablet-portrait-up {
			width: 320px;
		}

		.User {
			display: flex;
			align-items: flex-start;
			padding: 1rem;

			&:hover {
				background: rgba(255, 255, 255, 0.2);
				cursor: pointer;
			}
			.User__pic {
				width: 50px;
				border-radius: 50%;
			}
			.User__details {
				display: none;
			}

			/* not small devices  */
			@include for-tablet-portrait-up {
				.User__details {
					display: block;
					padding: 0 0 0 1rem;
				}
				.User__details-name {
					margin: 0;
					color: rgba(255, 255, 255, 0.8);
					font-size: 1rem;
				}
			}
		}
	}

	.ChatMain {
		flex: 1 1 0;
		background-color: rgba(25, 25, 27, 0.9);
		height: 100%;

		.Empty {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;

			.Empty__name {
				color: #fff;
			}
			.Empty__status,
			.Empty__info {
				padding: 1rem;
			}
			.Empty__status {
				color: rgba(255, 255, 255, 0.9);
				border-bottom: 1px solid rgba(255, 255, 255, 0.7);
			}
			.Empty__img {
				border-radius: 50%;
				margin: 2rem 0;
			}
			.Empty__btn {
				padding: 1rem;
				margin: 1rem 0;
				font-weight: bold;
				font-size: 1.2rem;
				border-radius: 30px;
				outline: 0;
			}
			.Empty__btn:hover {
				background: rgba(255, 255, 255, 0.7);
				cursor: pointer;
			}
		}

		.ChatWindow {
			display: flex;
			flex-direction: column;
			height: 100vh;

			.ChatHeader {
				padding: 1rem 2rem;
				border-bottom: 1px solid rgba(189, 189, 192, 0.2);
			}
			.ChatHeader__name {
				color: #fff;
			}

			.Chats {
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 85%;
				margin: 0 auto;
				overflow-y: scroll;

				.Chat {
					margin: 1rem 0;
					color: #fff;
					padding: 1rem;
					background: linear-gradient(90deg, #1986d8, #7b9cc2);
					max-width: 90%;
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
					&.type-audio {
						width: 90%;
					}
					&.type-video {
						width: 90%;
					}
					@include for-tablet-portrait-up {
						max-width: 60%;
						&.type-audio {
							width: 60%;
							max-width: 300px;
						}
						&.type-video {
							width: 60%;
							max-width: 300px;
						}
					}

					&.is_user_msg {
						margin-left: auto;
						background: #2b2c33;
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					span {
						word-break: break-all;
					}
				}
			}
			.Message {
				width: 95%;
				margin: 1rem auto;
				display: flex;
				align-items: flex-end;

				.Message__input_preview {
					width: 100%;
					background: rgba(0, 0, 0, 0.8);
					border-radius: 10px;
					padding: 1rem;
					display: flex;
					justify-content: flex-end;

					.type-audio {
						width: 100%;
						max-width: 100%;
					}
				}

				.Message__input_text {
					width: 100%;
					border: none;
					padding: 0;
					color: #fff;
					background-color: transparent;
					font-size: 1rem;
					outline: 0;
					resize: none;
					height: 1rem;
				}

				.Message__send_rec_btn {
					width: 50px;
					height: 50px;
					margin-left: auto;
					font-weight: 900;
					border-radius: 10px;
					background: rgba(0, 0, 0, 0.8);
					border: none;
					user-select: none;
					background-color: white;
					color: black;

					.Message__send_rec_btn_emoji {
						transform: scaleX(-1);
						font-size: 2rem;
					}

					&.active {
						background-color: red;
					}
				}

				@include for-tablet-portrait-up {
					gap: 0.5rem;
				}
			}

			.MediaWrapper {
				width: 100%;
				display: flex;
				border-radius: 10px;
				background-color: transparent;
				max-width: 300px;

				&.type-video {
					flex-direction: column;
				}

				video {
					border-radius: 10px;
					width: 100%;
					margin-bottom: 1rem;
				}

				.MediaWrapper_controls_wrapper {
					display: flex;
					gap: 0.5rem;
					width: 100%;

					.media-message-control {
						font-weight: 900;
						height: fit-content;
						background-color: transparent;
						color: white;
						border: none;

						&.start-stop-btn {
							font-size: 2rem;
							line-height: 1rem;
						}
					}

					input {
						flex: 1 1 0;
					}
				}
			}
		}
	}
}
