@import "../../index.scss";

// Styles for ChatSidebar, ChatHeader, Chats, MediaWrapper, MessageInput components are in their respected files.

.ChatApp {
	display: flex;
	color: white;
	min-width: 100vw;

	.ChatMain {
		flex: 1 1 0;
		// height: 100%;

		.Empty {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			justify-content: center;
			height: 100%;
			width: 100%;

			.Empty_greeting_wrapper {
				width: 100%;
				height: fit-content;
				background-color: transparent;
				background-color: white;
			}

			.Empty__name {
				color: black;
				font-size: 2rem;
				text-align: center;
				text-align: left;
				background-color: white;
			}
			.Empty__status,
			.Empty__info {
				color: black;
				background-color: white;
				font-size: 1.5rem;
				width: 100%;
				text-align: center;
			}
			.Empty__img {
				background-color: white;
			}
		}

		.ChatWindow {
			display: flex;
			flex-direction: column;
			// height: 100vh;
			height: 100%;
			width: fit-content;
			position: relative;
		}
	}
}
