@import url("normalize.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--quotes-large-font: 50px;
	--quotes-small-font: 1rem;
	font-family: "IBM ISO 9", monospace;
	font-size: 16px;
}
body {
	image-rendering: pixelated;
	height: calc(var(--vh, 1vh) * 100);
	// min-height: -moz-available;
	// min-height: -webkit-fill-available;
	// min-height: fill-available;
	background: linear-gradient(to top, transparent, transparent),
		url(../public/images/background-image-hifi-less-green-smaller.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

// html {
// 	height: fill-available;
// 	height: -webkit-fill-available;
// }

@font-face {
	// from https://int10h.org/oldschool-pc-fonts/
	font-family: "IBM VGA 8x14";
	src: url(../public/fonts/WebPlus_IBM_VGA_8x14.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	// from https://int10h.org/oldschool-pc-fonts/
	font-family: "IBM ISO 9";
	src: url(../public/fonts/Web437_IBM_DOS_ISO9.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	// from https://int10h.org/oldschool-pc-fonts/
	font-family: "IBM ISO 9-2x";
	src: url(../public/fonts/Web437_IBM_DOS_ISO9-2x.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ComicMono";
	src: url(../public/fonts/ComicMono.ttf);
}
@font-face {
	font-family: "ComicMono-Bold";
	src: url(../public/fonts/ComicMono-Bold.ttf);
}
@font-face {
	font-family: "NotoEmoji";
	src: url(../public/fonts/NotoEmoji-Regular.ttf);
}
@font-face {
	font-family: "NotoColorEmoji";
	src: url(../public/fonts/NotoColorEmoji-Regular.ttf);
}

@font-face {
	// by https://github.com/keshikan/DSEG
	font-family: "DSEG7-Classic-Mini-Bold-Italic.woff";
	src: url(../public/fonts/DSEG7ClassicMini-BoldItalic.woff);
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}
