#markdown-previewer {
	width: 100%;
	height: calc(100vh - 32px);
	font-family: "IBM ISO 9", monospace;
	display: flex;
}

.markdown-menu {
	background-color: white;
	color: black;
	word-wrap: break-word;
	border-right: 2px solid black;
	box-sizing: content-box;
}
.menu-wrapper {
	min-height: calc((100vh - 2rem) / 2 + 1.25rem + 0.625rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wide-markdown-menu {
	width: 140px;
	font-size: 2.5rem;
}
.narrow-markdown-menu {
	width: 40px;
	font-size: 1.5rem;
}
#markdown-header {
	padding-left: 0.25rem;
}
.markdown-btn {
	width: 100%;
	left: -0.25rem;
	text-align: center;
	border: none;
	font-size: 2rem;
	height: 3rem;
}
#markdown-close-btn {
	background-color: black;
	color: red;
}
#markdown-close-btn:hover {
	background-color: red;
	color: black;
}
#markdown-turn-btn {
	background-color: white;
	color: black;
}
#markdown-turn-btn:hover {
	color: red;
}

.submenu-btn {
	background-color: black;
	color: white;
	word-wrap: break-word;
	border: none;
	font-size: 1.25rem;
	font-family: "IBM ISO 9", monospace;
}
.submenu-btn-column {
	min-width: 100%;
	min-height: 1.25rem;
}
.submenu-btn-row {
	min-height: 100%;
}
.submenu-btn-row.submenu-btn-narrow {
	max-width: 1.25rem;
}
.submenu-btn-row.submenu-btn-wide {
	width: 5rem;
	text-align: right;
}

.separator-row {
	min-width: 1.25rem;
	min-height: 100%;
}
.separator-column {
	width: 100%;
	min-height: 1.25rem;
}

#work-area-row {
	max-width: calc(100% - 40px);
	width: 100%;
	display: flex;
}
#work-area-column {
	max-width: calc(100vw - 40px);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.editor {
	border: none;
	font-size: 1rem;
	overflow-y: scroll;
	padding: 1rem;
	width: 100%;
	min-width: calc((100% - 2.5rem) / 2);
}
.editor-column {
	height: 100%;
}

.preview {
	width: 100%;
	min-width: calc((100% - 2.5rem) / 2);
	color: rgba(100, 50, 100);
	overflow-y: scroll;
	font-family: Arial, Helvetica, sans-serif;
}
.preview * {
	margin: 1rem 1rem 1rem 1rem;
}

.preview code {
	background-color: rgba(255, 200, 255, 0.78);
	font-size: large;
	font-weight: bold;
	white-space: break-spaces;
}
.preview td,
th {
	border: 1px solid black;
	width: fit-content;
	padding: 5px;
}
.preview table {
	border: 1px solid black;
	max-width: 100%;
}
.preview li {
	margin-left: 2rem;
}
.preview ul {
	margin-left: 0;
}
.preview img {
	width: calc(100% - 2rem);
	max-width: 200px;
}
