#markdown-previewer {
	width: 100%;
	height: calc(100vh - 32px);
	font-family: "IBM ISO 9", monospace;
	display: flex;
}

#banner {
	background-color: red;
	color: blue;
	width: 140px;
	font-size: 2rem;
	padding-left: 0.25rem;
	word-wrap: break-word;
	min-height: 100%;
}

#work-area-row {
	min-width: calc(100vw - 140px);
	display: flex;
}
#work-area-column {
	min-width: calc(100vw - 140px);
	display: flex;
	flex-direction: column;
}

.btn {
	width: 100%;
	text-align: center;
	background-color: transparent;
	color: blue;
	border: none;
	font-size: 2rem;
}
#close-btn:hover {
	background-color: blue;
	color: red;
}
#close-btn:active {
	background-color: black;
	color: white;
}
#turn-btn:hover {
	background-color: blue;
	color: red;
}
#turn-btn:active {
	background-color: black;
	color: white;
}

.top-level {
	background-color: blue;
	color: white;
	word-wrap: break-word;
	border: none;
	font-size: 1.25rem;
	font-family: "IBM ISO 9", monospace;
}
.top-level-row {
	background-color: blue;
	min-height: 100%;
}
.top-level-column {
	background-color: blue;
	width: 100%;
}
.top-level-row.top-level-narrow {
	max-width: 1rem;
}
.top-level-row.top-level-wide {
	width: 5rem;
}

.separator-row {
	width: 1rem;
	min-height: 100%;
}
.separator-column {
	width: 100%;
	min-height: 1rem;
}

.editor {
	border: none;
	font-size: 1rem;
	overflow-y: scroll;
	padding: 1rem;
	width: 100%;
}
.editor-row {
	min-width: calc((100% - 140px - 2rem) / 2);
}
.editor-column {
	min-height: calc((100vh - 140px - 2rem) / 2);
}

.preview {
	width: 100%;
	color: rgba(100, 50, 100);
	overflow: scroll;
	font-family: Arial, Helvetica, sans-serif;
}
.preview-row {
	min-width: calc((100% - 140px - 2rem) / 2);
}
.preview-column {
	width: 100%;
	min-height: calc((100vh - 140px - 2rem) / 2);
}

.preview * {
	margin: 1rem 1rem 1rem 1rem;
}
.preview code {
	background-color: rgba(255, 200, 255, 0.78);
	font-size: large;
	font-weight: bold;
}
.preview td,
th {
	border: 1px solid black;
	width: fit-content;
	padding: 5px;
}
.preview table {
	border: 1px solid black;
	max-width: 100%;
}
.preview li {
	margin-left: 2rem;
}
.preview ul {
	margin-left: 0;
}
.preview img {
	width: calc(100% - 2rem);
	max-width: 200px;
}
