#calculator-container {
	min-height: calc(100vh - 2rem);
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
#calculator {
	margin: auto 0;
	background-color: rgb(0, 77, 155);
	padding: 1.5rem;
	border-radius: 1rem;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.85);
}

#display {
	line-height: 3.5rem;
	font-size: 2rem;
	text-align: right;
	max-width: 320px;
	height: 7rem;
	word-break: break-word;
	overflow: scroll;
	padding: 0 0.25rem 0 0.25rem;
	border-radius: 5px;
	background-color: rgb(204, 204, 204);
	box-shadow: 1px 1px 2px 2px rgb(46, 46, 46) inset;
}
#kabashi-logo {
	color: rgb(253, 212, 29);
	font-size: 1.5rem;
	text-align: left;
	margin: 0.75rem auto 0.75rem 0;
	font-style: italic;

	// border-bottom: 3px solid rgb(0, 32, 63);
}

#buttons {
	display: grid;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 2px 2px rgb(0, 32, 63);
}
#top-button-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
#numpad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column: 1 / span 3;
}
.right-button-column {
	margin-left: 1rem;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-column: 4;
	grid-row: 1 / span 6;
	height: fit-content;
}
// #equals {
// 	grid-row: span 2;
// 	height: calc(100% - 0.5rem);
// }

.calc-btn {
	margin: 0.25rem;
	position: relative;
	aspect-ratio: 4/3;
	width: 4rem;
	font-size: 1.5rem;
	border: 2px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.85);

	&:active {
		transform: translate(1px, 1px);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 1) inset;
	}

	&::before {
		content: "";
		position: absolute;
		width: 84%;
		height: 37%;
		transform: translate(-49%, 17%);
	}
}

.calc-btn span {
	position: absolute;
	top: 0.25rem;
	left: 0.5rem;
	pointer-events: none;
}
.calc-num-btn {
	background-color: white;
	color: rgb(0, 77, 155);
	&::before {
		background-image: url("../../../public/images/dot-white.svg");
	}
}
.calc-operator-btn,
.calc-secondary-btn {
	background-color: red;
	color: white;
	&::before {
		background-image: url("../../../public/images/dot-red.svg");
	}
}
