#drum-machine {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: calc(50% + 100px);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#drum-machine:focus {
	outline: none;
}

#drums-close-btn {
	position: absolute;
	top: calc(200px + 0.5rem);
	right: 200px;
	-ms-transform: translate(100%, -100%);
	transform: translate(100%, -100%);
	font-size: 3rem;
	border: none;
	background-color: black;
	color: white;
}
#drums-close-btn:hover {
	background-color: white;
	color: black;
}
#drums-close-btn:active {
	background-color: red;
	color: black;
}

.pad-bank {
	height: min-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5rem;
}

.drum-pad {
	font-size: 200px;
	aspect-ratio: 1/1;
	height: 200px;
}

.drum-pad-false {
	background-color: red;
}
.drum-pad-true {
	background-color: white;
}

#display {
	background-color: white;
	aspect-ratio: 1/1;
	height: 200px;
	font-size: 50px;
	text-align: center;
	line-height: 200px;
	font-family: "NotoEmoji";
}
