#nav {
	position: sticky;
	z-index: 2;
	top: 0;
	width: 100%;
	border-bottom: 2px solid blue;

	display: flex;
	justify-content: space-around;
	height: 2rem;
	background-color: transparent;
}
.nav {
	color: blue;

	font-size: 1.5rem;
	font-family: "IBM ISO 9", monospace;
}
.nav-button {
	border: none;
	background-color: transparent;
	font-weight: 900;
}
.nav-button:hover {
	background-color: blue;
	color: white;
}
.nav-button:active {
	background-color: red;
}

.inactive-button {
	color: black;
}
