@import url("../../index.scss");

#the-weather-here {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;

	.close-btn {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		font-size: 2rem;
		background-color: white;
		color: black;
	}

	#weather-dialog {
		max-width: 600px;
		margin: 0 auto;
		.dialog-contents {
			text-align: justify;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1rem;
		}

		* {
			font-size: 1.25rem;
		}
		.weather-btn {
			border: none;
			margin: 0.5rem 0 0.5rem 0;

			@media (hover: hover) {
				&:hover {
					background-color: rgba(0, 0, 255, 0.5);
				}
			}

			&:active {
				background-color: blue;
				color: white;
			}
		}
	}

	.leaflet-container {
		width: 100%;
		min-height: 100vh;

		.leaflet-map-pane {
			z-index: 0;
		}

		.leaflet-popup {
			background-color: transparent;
		}
		.leaflet-popup-content-wrapper {
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			box-shadow: none;
		}
		.leaflet-popup-content {
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
		}

		.report {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 1;
			text-align: justify;
			height: 316px;

			#report-top {
				border-radius: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 0rem 0.5rem 0rem 0.5rem;
				z-index: 2;
				&.report-night {
					background-color: rgb(2, 31, 67);
					box-shadow: 0px 0px 5px 5px rgb(2, 31, 67);
				}
				&.report-day {
					background-color: rgb(108, 167, 239);
					box-shadow: 0px 0px 10px 10px rgb(108, 167, 239);
				}
				.report-header {
					margin-top: 1rem;
					font-size: 1.1rem;
					font-weight: 900;
					color: white;
				}
				#metric-imperial-btn {
					position: absolute;
					right: 0;
					font-size: 2rem;
					border: none;
					color: white;
					background-color: transparent;
					user-select: none;
				}
				.conditions-emoji {
					width: max-content;
					font-size: 6rem;
					line-height: 3rem;
					margin: 0;
					margin-top: 1.5rem;
					user-select: none;
				}
			}

			#report-bottom {
				flex: 1;
				padding: 0rem 0.5rem 0rem 0.5rem;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				background-color: white;
				border-radius: 20px;
				box-shadow: 0px 0px 5px 5px white;

				#report-text {
					margin-top: 1rem;
					font-weight: 900;
					span {
						font-size: 1.1rem;
					}
				}
				#report-buttons-wrapper {
					display: flex;
					flex-direction: column;
					margin-bottom: 0.5rem;
				}
				.weather-report-btn {
					font-weight: 900;
					padding: 4px;
					border: none;
					align-self: flex-end;
					margin: 4px;
					background-color: transparent;
					font-size: 1.1rem;
					user-select: none;

					&.show-false {
						display: none;
					}

					&.weather-report-btn-day {
						color: rgba(108, 167, 239, 0.8);
						color: white;
						box-shadow: 0px 0px 2px 0px inset rgb(108, 167, 239),
							0px 0px 2px 0px rgb(108, 167, 239);
						background-color: rgb(108, 167, 239);

						@media (hover: hover) {
							&:hover {
								box-shadow: 0px 0px 2px 0px inset rgb(108, 167, 239),
									0px 0px 4px 1px rgb(108, 167, 239);
								// color: rgb(108, 167, 239);
							}
						}

						&:active {
							transform: translate(1px, 1px);
							box-shadow: 0px 0px 2px 0px inset rgb(108, 167, 239),
								0px 0px 4px 0px rgb(108, 167, 239);
							// color: rgb(108, 167, 239);
						}
					}

					&.weather-report-btn-night {
						color: rgba(2, 31, 67, 0.8);
						color: white;
						box-shadow: 0px 0px 2px 0px inset rgb(2, 31, 67),
							0px 0px 2px 0px rgb(2, 31, 67);
						background-color: rgba(2, 31, 67);

						@media (hover: hover) {
							&:hover {
								box-shadow: 0px 0px 2px 0px inset rgb(2, 31, 67),
									0px 0px 4px 1px rgb(2, 31, 67);
								// color: rgb(2, 31, 67);
							}
						}

						&:active {
							transform: translate(1px, 1px);
							box-shadow: 0px 0px 2px 0px inset rgb(2, 31, 67),
								0px 0px 4px 0px rgb(2, 31, 67);
							// color: rgb(2, 31, 67);
						}
					}
				}
			}

			.checkin-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				// textarea {
				// 	width: 100%;
				// 	height: 4rem;
				// 	text-align: center;
				// 	// border: 2px solid rgba(0, 0, 0, 0.2);
				// 	border: none;
				// 	font-family: "IBM ISO 9", Georgia, "Times New Roman", Times, serif;
				// 	resize: none;
				// 	padding: 5px;
				// 	background-color: transparent;
				// 	// background-color: rgba(255, 0, 0, 0.1);
				// 	border-radius: 10px;
				// 	align-self: flex-start;
				// }
			}
		}

		.my-div-icon {
			img {
				width: 75px;
				height: 75px;
			}
			.tooltip {
				top: 0;
				left: 0;
				transform: translate(30%, -70%);
				position: absolute;
				padding: 10px 10px 5px 10px;
				font-size: 4rem;
				line-height: 2rem;
				border-radius: 1.5rem;
				text-align: center;
				min-width: 4rem;
				width: max-content;
				max-width: 300px;
			}
			.tooltip-day {
				background: linear-gradient(rgb(108, 167, 239), rgb(255, 255, 255));
				// &.tooltip-logs {
				// 	background: white;
				// }
			}
			.tooltip-night {
				// background: linear-gradient(rgb(2, 31, 67) 30%, rgb(6, 48, 121));
				background-color: transparent;
				// background-color: white;
				// &.tooltip-logs {
				// 	background: white;
				// }
			}
			// .tooltip-logs {
			// 	top: -100%;
			// 	left: 50%;
			// 	transform: translate(-50%, -50%);
			// 	background-color: white;
			// 	font-size: 1rem;
			// 	border-radius: 1rem;
			// 	padding: 2px 6px 2px 6px;
			// }
		}
	}

	// #drag {
	// 	position: absolute;
	// 	max-width: 300px;
	// 	background-color: white;
	// 	padding: 1rem;
	// 	text-align: right;

	// 	p {
	// 		font-size: 1.25rem;
	// 	}
	// }
}
