@import "../../index.scss";
#nav-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	margin: 0 auto;
	@include for-tablet-portrait-up {
		width: 600px;
	}
}

#nav {
	height: 100vh;
	margin: auto 0;
	// width: 100%;
	// border: 2px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	& .nav-button {
		border: none;
		background-color: transparent;
		text-align: right;
		font-weight: 900;
		margin-bottom: 2rem;

		font-size: 2rem;
		color: blue;
		background-color: white;
		padding: 5px;
		width: max-content;

		&:hover {
			background-color: blue;
			color: white;
		}
		&:active {
			background-color: blue;
			color: white;
		}
	}

	@include for-tablet-portrait-up {
		width: 600px;
	}
}
