@import "../../index.scss";
#nav-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 100%;
	margin: 0 auto;
	@include for-tablet-portrait-up {
		width: 600px;
	}
}
#nav {
	margin: auto 0;
	width: 100%;
	border: 2px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
}

.nav {
	color: blue;

	font-size: 1.5rem;
	font-family: "IBM ISO 9", monospace;
	text-align: right;
	padding: 1rem;
}
.nav-button {
	border: none;
	font-weight: 900;
	background-color: transparent;
}
.nav-button:hover {
	background-color: blue;
	color: white;
}
.nav-button:active {
	background-color: red;
}

.inactive-button {
	color: black;
}
