@import "../../index.scss";

#quote-box {
	color: black;
	font-family: "IBM ISO 9", monospace;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
}

.upper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(60vh - 25px);

	.close-btn {
		position: absolute;
		top: 0;
		z-index: 1;
		border: none;
		background-color: white;
		color: red;
		font-size: 4rem;
		line-height: 4rem;
		text-decoration: none;

		@media (hover: none) {
			&:active {
				background-color: red;
				color: white;
			}
		}
	}

	#quote-container {
		width: 100%;
		text-align: center;
		overflow: scroll;
		background-color: transparent;
	}
	#text {
		font-size: 1.5rem;
		background-color: white;
	}
	#author {
		background-color: white;
		font-size: 1.5rem;
		font-weight: 900;
		text-transform: uppercase;
	}

	@include for-tablet-portrait-up {
		#text {
			font-size: 2rem;
		}
		#author {
			font-size: 2rem;
		}
	}

	#quotes-image {
		width: 70%;
		max-width: 600px;
	}
}

#new-quote {
	font-family: "IBM ISO 9", monospace;
	color: white;
	background-color: black;
	border: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 25px;

	& > * {
		padding: 0;
		margin: 0;
		text-align: left;

		@include for-tablet-portrait-up {
			font-size: 1.25rem;
		}
	}
}
#new-quote-left {
	width: 75%;
	text-align: left;

	span {
		@include for-tablet-portrait-up {
			font-size: 1.25rem;
		}
	}
}
@media (hover: hover) {
	#new-quote-left:hover {
		background-color: red;
	}
	#new-quote-left:active {
		color: red;
	}
}
@media (hover: none) {
	#new-quote-left:active {
		background-color: red;
	}
}

#new-quote-right {
	width: 25%;
	border-left: 2px solid white;

	span {
		display: none;
	}
	@include for-tablet-portrait-up {
		span {
			display: inline;
			font-size: 1.25rem;
		}
	}
}

.lower {
	display: flex;
	flex-direction: row;
	height: 40vh;
}
#share-section {
	word-wrap: break-word;
	width: 75%;
	overflow: scroll;

	span {
		background-color: white;
		width: fit-content;
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.share-link {
		color: transparent;
		background-color: transparent;
		border: none;
		font-size: 2.5rem;
		line-height: 2.5rem;

		@media (hover: hover) {
			&:hover {
				color: black;
				background-color: white;
			}
		}
		@media (hover: none) {
			&:active {
				background-color: blue;
				color: white;
			}
			color: black;
			background-color: white;
		}
	}

	@include for-phone-only {
		span {
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
		.share-link {
			font-size: 1.5rem;
			line-height: 1.5rem;
			display: block;
		}
	}
}

#category-section {
	word-wrap: break-word;
	width: 25%;
	border-left: 2px solid black;
	overflow: scroll;

	.category-keyword {
		display: block;
		@include for-tablet-portrait-up {
			display: inline;
		}
		font-size: 1.25rem;
		color: black;
		background-color: white;
		font-weight: 900;
		user-select: none;

		@media (hover: hover) {
			&:hover {
				background-color: white;
				color: black;
				font-size: 2rem;
			}
		}
	}

	.category-keyword-select {
		background-color: red;
	}
}
