#quote-box {
	color: black;
	background-color: white;
	font-family: "IBM ISO 9", monospace;
	display: flex;
	flex-direction: column;
	font-size: var(--quotes-large-font);
	/* uncomment to pass freecodecamp test */
	/* width: 50%;
	margin: 0 auto; */
	/* uncomment to pass freecodecamp test */
}

.close-btn {
	position: absolute;
	top: calc(25% - 25px);
	left: calc(50% - 25px);
	z-index: 2;
	height: 50px;
	aspect-ratio: 1 / 1;
	font-size: var(--quotes-large-font);
	border: none;
	color: red;
	background-color: transparent;
}
#about {
	position: absolute;
	color: blue;
	background-color: white;
	top: calc(25% - 7px);
	left: calc(50% + 13px);
	z-index: 2;
	font-size: 1rem;
	width: 33%;
}
.upper {
	height: calc(50vh - 10px - 16px);
	position: relative;
	overflow: scroll;
}
#quote-container {
	position: absolute;
	top: 100%;
}
#text {
	text-align: center;
}
#author {
	text-align: center;
	font-weight: 900;
}

#new-quote {
	font-family: "IBM ISO 9", monospace;
	color: white;
	background-color: black;
	border: none;
	font-size: var(--quotes-small-font);
	width: 100%;
	display: flex;
	flex-direction: row;
}
#new-quote > * {
	padding: 0;
	margin: 0;
	text-align: left;
	height: 20px;
}
#new-quote-left {
	width: 75%;
	text-align: left;
}
#new-quote-left:hover {
	background-color: red;
}
#new-quote-left:active {
	color: red;
}
#new-quote-right {
	width: 25%;
	border-left: 2px solid white;
}

.lower {
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	height: calc(50vh - 10px - 16px);
}
#share-section {
	word-wrap: break-word;
	width: 75%;
	height: 100%;

	overflow: scroll;
}
.share-links {
	width: 100%;
}
.share-link {
	color: transparent;
}
.share-link:hover {
	color: black;
}

#category-section {
	overflow: scroll;
	word-wrap: break-word;
	width: 25%;
	border-left: 2px solid black;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.category-keyword {
	font-size: var(--quotes-small-font);
}
.category-keyword:hover {
	background-color: black;
	color: white;
}
