@import "../../../index.scss";
.MediaWrapper {
	width: fit-content;
	display: flex;
	padding: 0.25rem;
	& > * {
		user-select: none;
	}

	&.type-video {
		flex-direction: column;
	}

	&.type-audio {
		width: 100%;
		height: 25px;
		align-items: center;

		&.media-draft {
			height: 50px;
		}
	}

	&.media-draft {
		&.type-video {
			video {
				width: 300px;
			}
			.MediaWrapper-controls {
				height: calc(50px - 0.25rem);
			}
		}
	}
	&.type-video {
		video {
			width: 100%;
		}
	}

	.MediaWrapper-controls {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0.25rem;

		button {
			background-color: transparent;
			color: rgba(255, 0, 89);
			border: none;
			font-size: 1.5rem;
			line-height: 1.25rem;
		}
		.start-stop-btn {
			margin-right: 0.5rem;
		}
		.scrap-draft-btn {
			font-size: 2rem;
		}
		.playback-speed-btn {
			font-size: 1rem;
			width: 45px;
		}

		.timeline-container {
			flex: 1;
			height: 1rem;
			cursor: pointer;
			display: flex;
			align-items: center;

			&.fingerScrubbing {
				touch-action: none;
			}

			.timeline {
				width: 100%;
				position: relative;
				height: 0.75rem;
				background-color: rgba(255, 0, 89, 0.5);
				margin-inline: 0.5rem;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: calc(
						100% - var(--progress-position, 0) * (100% - 1.5rem) - 1.5rem
					);
					background-color: rgba(255, 0, 89);
				}

				.thumb-indicator {
					position: absolute;
					z-index: 2;
					height: 0.75rem;
					aspect-ratio: 2 / 1;
					top: 0;
					right: calc(
						100% - var(--progress-position, 0) * (100% - 1.5rem) - 1.5rem
					);
					background-color: white;
					// background-color: transparent;
					border: 1px solid rgba(255, 0, 89);
					// border: 1px solid black;
				}
			}
		}
	}
}
